$padWidth: 120px;
$padHeight: 100px;

* {
  outline: 1px dotted black;
}

#root {
  display: flex;
  //position: relative;
  justify-content: center;
  align-items: center; 
  height: 100vh;
}

.screen {
  display: inline-block;
  position: absolute;
  width: 200px;
  height: 50px;
  background-color: gray;
  text-align: center;
  top: 30px;
}

.inner-container {
  outline: 5px solid orange;
  position: relative;
  width: 650px;
}

.pad-bank {
  width: $padWidth * 3 + 32;
  height: $padHeight * 3 + 32;
  display: inline-block;
  margin: 20px;
  .drum-pad {
    background-color: gray;
    position: relative;
    float: left;
    width: $padWidth;
    height: $padHeight;
    margin-right: 10px;
    margin-top: 10px;
    box-shadow: 3px 3px 5px black;
    border-radius: 5px;
    user-select: none;
    &.active {
      background-color: lighten(orange, 20%);
      box-shadow: 0 3px lighten(orange, 20%);
      height: $padHeight - 3;
      margin-top: 13px;
    }
    p {
      position: absolute;
      top: 30px;
      left: 53px;
    }
  }
}


